body {
  font-family: Arial, sans-serif;
}
#chat-container {
  align-items: center;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#chat-messages {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  padding: 10px;
}
#chat-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#send-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
#send-button:hover {
  background-color: #ccc;
  background-color: #0056b3;
}
#chat-messages div strong:first-child {
  color: #007bff;
}

#chat-messages div strong:last-child {
  color: #28a745;
}

#chat-messages div {
  padding: 1rem;
  border-radius: 5px;
  background-color: #e1c6c6;
  margin-bottom: 10px;
}
.SendingButton {
  cursor: not-allowed;
}

@media (max-width: 600px) {
  #chat-container {
    width: 100%;
    padding: 10px;
  }

  #chat-messages {
    height: 200px;
  }

  #chat-input {
    margin-top: 5px;
  }

  #send-button {
    margin-top: 5px;
  }
}
