body {
  font-family: Arial, sans-serif;
}
.header {
  font-family: "droid-serif-w01-regular,droid-serif-w02-regular,droid-serif-w10-regular,serif";
  font-size: 36px;
  color: #daa127;
  background-color: rgb(10, 21, 49);
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#chat-container {
  align-items: center;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#chat-messages {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}
#chat-input {
  width: 98%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
#send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: "droid-serif-w01-regular,droid-serif-w02-regular,droid-serif-w10-regular,serif";
  font-size: large;
  font-weight: 900;
  width: 35%;
  padding: 10px;
  background-color: #21172c;
  color: #daa127;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 18rem;
}
#send-button:hover {
  background-color: #ccc;
  background-color: #25292d;
}
#chat-messages div p:first-child {
  margin-bottom: -0.5rem;
  font-weight: 200;
  font-size: 16px;
  font-family: "droid-serif-w01-regular,droid-serif-w02-regular,droid-serif-w10-regular,serif";
  color: #040404;
}

#chat-messages div p:last-child {
  font-weight: 200;
  font-size: 14px;
  font-family: "droid-serif-w01-regular,droid-serif-w02-regular,droid-serif-w10-regular,serif";
  color: #040404;
}

#chat-messages div {
  padding: 1rem;
  border-radius: 8px;
  background-color: #efe6e6;
  margin-bottom: 10px;
}

.SendingButton {
  cursor: not-allowed;
}

@media (max-width: 600px) {
  #chat-container {
    width: 100%;
    padding: 10px;
  }

  #chat-messages {
    height: 200px;
  }

  #chat-input {
    margin-top: 5px;
  }

  #send-button {
    margin-top: 5px;
  }
}
