.main-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(10, 21, 49);
  padding: 20px;
}

.header-image {
  width: 100px; 
  height: 60px;
  margin-right: 1rem;
}

.header {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column; 
    text-align: center; 
    padding: 10px;
  }

  .header-image {
    margin-right: 0;
    margin-bottom: 1rem; 
  }
}
